fastapi[standard]
uvicorn[standard]
sqlalchemy
asyncpg
python-dotenv
pydantic
pydantic-settings

beautifulsoup4==4.12.3
lxml
schedule
psycopg2-binary

groq

passlib[bcrypt] 
python-jose[cryptography]
python-multipart
requests
dotenv
tenacity
bs4
